/* general settings*/
body {
  margin: 20px;
  padding: 5%;
  box-sizing: content-box;
}

/*THESE ARE THE SOCIAL NETWORKS ICONS COMPONENTS*/
.fa {
  position: relative;
  top: -5px;
  margin-right:4%;
  width: 11%;
  height: 16px;
  text-align: center;
  text-decoration: none;
  background: white;
  color: royalblue;
}
