/* general settings*/
body {
  margin: 20px;
  padding: 5%;
  box-sizing: content-box;
}
/* colors*/
/*typpology*/

/* layout*/
main {
  width: 65vh;
  height: 38vh;
  display: flex;
  flex-wrap: wrap;
  background-color: royalblue;
}
main * {
  margin: 4% 0 0 3%;
}

#top-container {
  width: 80%;
  height: 20%;
  display: flex;

  align-items: center;
}
#top-container-left {
  position: relative;
  left: -2%;
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top-container-right {
  width: 60%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-above {
  width: 85%;
  height: 15%;
  background-color: royalblue;
}
#container-below {
  width: 85%;
  height: 10%;
  background-color: royalblue;
}
#container-footer {
  width: 35%;
  height: 20%;
  background-color: royalblue;
}

#container-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: royalblue;
  border-radius: 20px;
}

#triangle-right {
  position: relative;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 7px solid white;
  border-bottom: 6px solid transparent;
  left: 4%;
}

#sevenbar-container {
  position: relative;
  top: 2%;
  width: 10%;
  height: 40%;

  display: flex;
  flex-direction: column;
}
.yedili {
  width: 95%;
  height: 15%;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 20%;
}
#phone-container {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;

  background-color: royalblue;
  position: relative;
  top: -20%;
}
#phone {
  position: relative;
  top: -7%;
  left: -3%;
  width: 30%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: royalblue 1px solid;
  background-color: white;
  border-radius: 5%;
}
#phone-camera {
  width: 40%;
  height: 2%;
  background-color: royalblue;
}
#phone-screen {
  width: 90%;
  height: 90%;
  background-color: royalblue;
  position: relative;
  left: -2%;
}
#touch-pad {
  width: 10px;
  height: 12px;
  border: royalblue 1px solid;
  border-radius: 9px;
  margin-bottom: 4%;
}
#two-triangles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -7%;
  width: 70%;
  height: 98%;

  background-color: white;
}
#circle {
  position: relative;
  left: -15%;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: royalblue;
}
#triangles {
  position: relative;
  left: -10%;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#small-triangle {
  position: relative;
  left: 10%;

  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 20px solid royalblue;
}
#big-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid royalblue;
}
#three-dots {
  position: relative;
  justify-content: space-evenly;
  left: -5%;
  top: 10%;
  display: flex;
  width: 30px;
  height: 10px;
  background-color: white;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: royalblue;
  border: royalblue 1px solid;
}

#square-container {
  position: relative;
  top: -4%;
  width: 30%;
  height: 34%;

  background-color: white;
}
#two-triangles-right {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  width: 100%;
  height: 100%;
}
#small-container {
  display: flex;
  position: relative;
  width: 57%;
  height: 35%;

  margin-top: -31%;
  left: -3%;
}
.on-container {
  width: 4rem;
  height: 2rem;

  background-color: white;
  border-radius: 2rem;
}
#on-circle {
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: royalblue 1px solid;
  background-color: white;
}
#off-container {
  width: 4rem;
  height: 2rem;

  background-color: royalblue;
  border-radius: 2rem;
  background-color: white;
}
#off-circle {
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: white 1px solid;
  background-color: royalblue;
}

#footer {
  position: relative;
  left: -4px;
  width: 97%;
  height: 4%;
  display: flex;
  justify-content: space-evenly;
  background-color: royalblue;
  top: -21%;
}
#footer-bar {
  position: relative;
  top: -25px;
  left: -20px;

  width: 70%;
  height: 100%;
}
#footer-bar {
  background-color: white;
}
#inner-bar {
  position: relative;
  top: -17px;
  left: -2%;
  width: 80%;
  height: 90%;
  background-color: royalblue;
}
#icon-bar {
  display: flex;
  justify-content: space-between;

  position: relative;

  left: -18px;
  top: -29px;

  width: 36%;
  height: 99%;
  background-color: royalblue;
}
.fa {
  position: relative;
  flex: 1;
  top: -5px;
  margin-right: 9px;

  width: 20px;
  height: 16px;
  text-align: center;
  text-decoration: none;
  background: white;
  color: royalblue;
}
